<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Compose test host обрабатывает поворот так же, как MainActivity. -->
        <activity android:name="androidx.activity.ComponentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.TvTimeFixer"
            tools:replace="android:theme" />
    </application>
</manifest>
